<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2849.39" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.1742" targetFramework="net472" />
  <package id="Microsoft.WindowsAppSDK" version="1.6.240923002" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock.Themes" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.MaterialDesignColors" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.Metro" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.Office2007" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Themes.Windows10" version="4.6.24151.1544" targetFramework="net48" />
  <package id="Xceed.Wpf.Toolkit" version="4.6.24151.1544" targetFramework="net48" />
</packages>